* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 120px 1fr / 1fr 4fr;
    --blue: #3b82f6;
    --lblue: #dbeafe;
}

.sidebar-container {
    background-color: var(--blue);
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    row-gap: 50px;
    grid-template-rows: 50px 275px 137.5px;
}

.sidebar-main-container {
    display: grid;
    align-items: start;
}

.sidebar-sub-container {
    display: grid;
    grid-template-columns: 30px 1fr;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 20px;
    align-items: center;
}

.sidebar-icons {
    grid-column: 1;
    fill: white;
}

.sidebar-text {
    grid-column: 2;
    text-align: start;
    color: white;
    font-size: 20px;
    font-weight: 800;
}

.dashboard-title-container {
    padding-top: 20px;
}

.dashboard-title {
    font-size: 25px;
}



.header-container {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 60px 60px / 2fr 1fr;
    font-weight: 800;
    gap: 0;
    padding-right: 50px;
}

.search-container {
    display: grid;
    grid-template-columns: 30px 1fr;
    padding: 20px;
    padding-bottom: 10px;
    height: 60px;
}

.search-bar {
    background-color: var(--lblue);
    grid-column: 2 / 3;
    border-radius: 15px;
    margin: 0 20px;
    border: none;
    padding-left: 10px;
    max-width: 750px;
}

.account-container {
    display: grid;
    grid-template-columns: 1fr 30px 30px 50px;
    padding: 20px;
    column-gap: 30px;
    align-items: center;
    font-size: 18px;
}

.pfp {
    height: 30px;
    margin: -5px;
}

.name-container {
    display: grid;
    grid-template: 1fr 1fr / 40px 1fr;
    padding-left: 20px;
    column-gap: 30px;
    align-items: center;
    font-size: 12px;
}

.big-pfp {
    grid-area: 1 / 1 / 3 / 2;
    height: 50px;
}

.name {
    margin-top: -20px;
    font-size: 22px;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    align-items: end;
    padding-bottom: 20px;
}
.header-btn {
    background-color: var(--blue);
    border-radius: 25px;
    height: 30px;
    min-width: 75px;
    border: var(--lblue) solid 1px;
    color: white;
}

.board-container {
    background: var(--lblue);
    grid-area: 2 / 2 / 3 / 3;
    height: 1000px;
}

a {
    text-decoration: none;
    color: inherit;
}



svg {
    height: 100%;
}